/* Group 9 - Main Container */
.group9 {
  position: absolute;
  width: 338px;
  height: 47px;
  left: 142px;
  top: 156px;

  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

/* Rectangle 3 - Background */
.rectangle3 {
  position: absolute;
  width: 338px;
  height: 47px;
  left: 142px;
  top: 156px;

  background: #000000;
  border-radius: 30px;
}

/* Active devices - Label */
.label {
  position: absolute;
  width: 150px;
  height: 25px;
  left: 167px;
  top: 167px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
}

/* Frame 11 - Counter Container */
.frame11 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 51px;
  gap: 10px;

  position: absolute;
  width: 157px;
  height: 46px;
  left: 323px;
  top: 156px;

  background: #70c1ff;
  border-radius: 0px 23px 23px 0px;
}

/* Counter Text */
.counter {
  width: 32px;
  height: 24px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;

  color: #000000;

  flex: none;
  order: 0;
  flex-grow: 0;
}
